input {
    border:none;
    background-color: transparent;
    border-bottom: 2px solid darkslategrey;
    width: 100%;
}
input:focus {
    border-bottom:4px solid dodgerblue;
}
.login-form {
    background-color: lightgrey;
    margin:3em;
    border-radius: 1em;
    padding: 1em;
}
.login-form > :first-child {
    margin-top: 0;
}