input {
    border: 2px solid darkslategrey;
    border-radius: 2em;
    width: 100%;
    padding:0.5em;
    font-size: large;
    background-color: white;
}
input:focus {
    border:2px solid dodgerblue;
    border-radius:2em;
    outline: transparent;
}
.login-form {
    background-color: lightgrey;
    margin:3em;
    border-radius: 1em;
    padding: 1em;
}
.login-form > :first-child {
    margin-top: 0;
}