.calendar-grid {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    color:white;
}

.calendar-background{
    background: linear-gradient(180deg, black 0%, midnightblue 35%, deepskyblue 100%);
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.day-button{
    margin:2em;
    text-align: left;
    background-color: darkblue;
    border-radius:100px;
    padding: 1em 2em;
    border-style: none;
    color: white;
}

.weekdays{
    margin:1em;
    padding:1em;
    border-radius: 500px;
    text-align: center;
    background-color: dodgerblue;
    color:white;

}
.calendar-container{
    margin:0.5em;
    display: flex;
}

.more-info{
    background-color: dodgerblue;
    width:75vh;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    padding:1em;
}

.center-text{
    text-align: center;
}
.font-size-large{
    font-size: xx-large;
    padding:0.25em;
}