.nav-bar {
    width:100%;
    list-style-type: none;
    color:white;
    background-color:slateblue;
    display: flex;
    align-items: center;
    padding: 1em;
}
.app-brand {
    margin: 0;
}
.nav-bar__nav-links {
    display: contents;
    list-style: none;
}
.nav-bar__nav-links :first-child {
    margin-left: auto;
}
.nav-bar__nav-links li {
    margin-left: 1em;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.avatar{
    background-color:black;
    width:2em;
    height:2em;
    border-radius: 50%;
    border: 3px solid turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}
.center{
    display:inline-block;
    margin: 0;
    padding-top: 0.25em;

}